html, body {
  margin: 0;
  padding: 0;
}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
/* The slider itself */

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  border-radius: 5px;
  background: white;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #39375b;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #39375b;
  cursor: pointer;
}

#wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#keyboard {
}

.key {
  float: left;
  position: relative;
  display: flex;
}

.white {
  height: 14.4vw;
  width: 3.8095238095vw;
  z-index: 1;
  border-top: 0.12vw solid #AAAAAA;
  border-bottom: 0.12vw solid #AAAAAA;
  border-left: 0.12vw solid #AAAAAA;
  background-color: rgb(255,255,255);
}

.black {
  height: 7.92vw;
  width: 2.0952380952vw;
  z-index: 2;
  border: 0.12vw solid #000000;
  background-color: rgb(34,34,34);
}

.a, .b, .d, .e, .g, .black {
  margin: 0 0 0 -1.1676190476vw;
}

#keyboard > .key:last-child {
  border-right: 0.12vw solid #AAAAAA;
}